<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="description" content="VirtualQuiz provides an awesome interactive learning experience mixed with loads of fun to wholly suit your cognitive needs. Be smart, Have fun, Play smart !">
    <meta name="robots" content="index, follow"><meta name="keywords" content="Virtual, Quiz, Cognitive, Nigeria,intellectual, questions, smart,fun">
    <meta name="google-site-verification" content="Hggdrj-9sozNc20u-iqe4vxth3vnc55p4d9xKj3I5Sw">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_us">
    <meta property="og:url" content="virtualquiz.com"><meta property="og:title" content="VirtualQuiz">
    <meta property="og:description" content="VirtualQuiz provides an awesome interactive learning experience mixed with loads of fun to wholly suit your cognitive needs. Be smart, Have fun, Play smart !">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Bellota&family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../assets/images/x-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/trivia/quiz.css">
    <title>VirtualQuiz</title>
</head>
<body>

    <div class="container">
        <div class="header">
            <h1 class="final-score">Final Score :- <span id="final-score">30</span></h1>
            <p class="text-center">You scored <span class="percentScore">0</span> % in this Quiz</p>
            <br>
            <h2 class="text-center">Your IQ Level in <span class = "category"></span> is:- <span id="iq-level">Genius</span></h2>


            <!-- <form action="" method="post" id="saveForm">
                <input type="text" class="nickname" name="nickname" id="nickname" placeholder="Enter your Nickname">
                <button type="submit" class="btn save-btn" id="save-btn" disabled><span class="fa fa-cubes"></span>    Save Score</button>
            </form> -->

            <a href="/"><button href="/" class="btn btn-home"><span class="fa fa-home"></span>   Go to Home</button></a>
            <button class="btn btn-playagain" id="btn-playagain" onclick="playAgain()"><span class="fa fa-spinner"></span>   Play Again</button>
        </div>

    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="assets/js/trivia/end.js"></script>
</body>
</html>
