<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="description" content="VirtualQuiz provides an awesome interactive learning experience mixed with loads of fun to wholly suit your cognitive needs. Be smart, Have fun, Play smart !">
    <meta name="robots" content="index, follow"><meta name="keywords" content="Virtual, Quiz, Cognitive, Nigeria,intellectual, questions, smart,fun">
    <meta name="google-site-verification" content="Hggdrj-9sozNc20u-iqe4vxth3vnc55p4d9xKj3I5Sw">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_us">
    <meta property="og:url" content="virtualquiz.com"><meta property="og:title" content="VirtualQuiz">
    <meta property="og:description" content="VirtualQuiz provides an awesome interactive learning experience mixed with loads of fun to wholly suit your cognitive needs. Be smart, Have fun, Play smart !">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Bellota&family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../assets/images/x-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/trivia/quiz.css">
    <title>VirtualQuiz</title>
</head>
<body>

    <div class="indicator hidden"></div>
    <div class="loader"><span class="fa fa-lightbulb-o fa-3x"></span><br><br><hr><br><p>Endless Trivia</p></div>

    <div class="container hidden">
        <div class="header">

            <div class="metrics">
                <div class="question-counter">
                    <p>Question</p>
                    <h1 class="questionCounter" id="questionCounter">1/5</h1>
                </div>

                <div class="question-counter">
                    <span class="fa fa-volume-up fa-2x" style="color: #444;" id=""></span>
                </div>
                <div class="score-counter">
                    <p>Current Score</p>
                    <h1 class="scoreCounter" id="scoreCounter">0</h1>
                </div>
            </div><hr style="border: 1px solid rgba(255,99,71,0.5);height: 0.1px;opacity:0.4;">

            <div class="main">
                <h4 class="question"></h4>
                
                <div class="choices-container">
                    <div class="choice-container">
                        <span class="choice-prefix">A</span>
                        <h4 class="choice-text" data-number="1" data-option="A"></h4>
                    </div>
                </div>

                
                <div class="choices-container">
                    <div class="choice-container">
                        <span class="choice-prefix">B</span>
                        <h4 class="choice-text" data-number="2" data-option="B"></h4>
                    </div>
                </div>

                
                <div class="choices-container">
                    <div class="choice-container">
                        <span class="choice-prefix">C</span>
                        <h4 class="choice-text" data-number="3" data-option="C"></h4>
                    </div>
                </div>

                
                <div class="choices-container">
                    <div class="choice-container">
                        <span class="choice-prefix">D</span>
                        <h4 class="choice-text" data-number="4" data-option="D"></h4>
                    </div>
                </div>
            </div>

            <div>
                {{! <p>Time Elapsed :- <span class="timeLeft">30</span> seconds</p> }}
            </div>
            
        </div>

    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="assets/js/trivia/endlesstrivia.js"></script>
</body>
</html>
